{% extends "base.html" %}

{% block title %}Bottles List{% endblock %}

{% block style %}
<style>
    .bottle-list {
        display: flex;
        flex-wrap: wrap;
    }
    .bottle-item {
        flex: 1 0 21%;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        text-align: center;
        transition: transform 0.3s;
    }
    .bottle-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .bottle-item img {
        max-width: 100px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .search-form {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Bottles List</h2>
    <form class="search-form">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="search-query" placeholder="Search by ID or Name">
            </div>
        </div>
    </form>
    <div class="bottle-list" id="bottle-list">
        {% for bottle in bottles %}
        <a href="/bottles/{{ bottle.id }}" class="bottle-item" data-id="{{ bottle.id }}" data-name="{{ bottle.name }}">
            <h4>{{ bottle.id }}</h4>
            <h5>{{ bottle.name }}</h5>
            <p>{{ bottle.winery }}</p>
        </a>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('search-query').addEventListener('input', function() {
        const query = this.value.toLowerCase();
        const bottles = document.querySelectorAll('.bottle-item');

        bottles.forEach(function(bottle) {
            const id = bottle.getAttribute('data-id').toLowerCase();
            const name = bottle.getAttribute('data-name').toLowerCase();

            if (id.includes(query) || name.includes(query)) {
                bottle.style.display = 'block';
            } else {
                bottle.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
