{% extends "base.html" %}

{% block title %}Bottles List{% endblock %}

{% block style %}
    .bottle-list {
        display: flex;
        flex-wrap: wrap;
    }
    .bottle-item {
        flex: 1 0 21%;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        text-align: center;
        transition: transform 0.3s;
        text-decoration: none;
        color: inherit;
    }
    .bottle-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .bottle-item h4, .bottle-item h5, .bottle-item p {
        margin: 0;
    }
    .bottle-item h4 {
        margin-bottom: 5px;
        font-size: 1.25rem;
        color: #007bff;
    }
    .bottle-item h5 {
        margin-bottom: 5px;
        font-size: 1rem;
    }
    .bottle-item p {
        font-size: 0.875rem;
        color: #6c757d;
    }
    .search-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .search-input {
        flex: 0 0 300px;
    }
    .create-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .create-button:hover {
        background-color: #007bf0;
    }
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Bottles List</h2>
    <div class="search-form">
        <input type="text" class="form-control search-input" id="search-query" placeholder="Search by ID or Name">
        {% if current_user.role == "admin" or current_user.is_superuser%}
        <a href="/bottles/create" class="create-button">Create New Bottle</a>
        <a href="/bottles/usages" class="btn btn-primary mt-4">Usage Log</a>
        {% endif %}
    </div>
    <div class="bottle-list" id="bottle-list">
        {% for bottle in bottles %}
        <a href="/bottles/{{ bottle.id }}" class="bottle-item" data-id="{{ bottle.id }}" data-name="{{ bottle.name }}">
            <h4>{{ bottle.id }}</h4>
            <h5>{{ bottle.name }}</h5>
            <p>{{ bottle.winery }}</p>
        </a>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('search-query').addEventListener('input', function() {
        const query = this.value.toLowerCase();
        const bottles = document.querySelectorAll('.bottle-item');

        bottles.forEach(function(bottle) {
            const id = bottle.getAttribute('data-id').toLowerCase();
            const name = bottle.getAttribute('data-name').toLowerCase();

            if (id.includes(query) || name.includes(query)) {
                bottle.style.display = 'block';
            } else {
                bottle.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
